<ion-header [translucent]="true" >

</ion-header >

<ion-content [fullscreen]="true" color="roxo" >

<div class="inicial"  >
<img class="logo" src="assets/logo2.png">

  <ion-card  color="dark">

      <ion-item color="dark">
        <ion-input label="Email:" labelPlacement="floating" placeholder="Enter text"></ion-input>
      </ion-item>

      <ion-item color="dark">
        <ion-input label="Senha:" labelPlacement="floating" placeholder="Enter text"></ion-input>
      </ion-item>

      <ion-button fill="clear">Clear</ion-button>

  </ion-card>


</div>



</ion-content>
